:root {
  --color-mode: 'light';
  --color-dark: black;
  --color-light: white;
  --background: white;
  --text-color: black;
}

body {
  background: var(--background);
  color: var(--text-color);
  transition: background 500ms ease-in-out, color 200ms ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --background: var(--color-dark);
    --text-color: var(--color-light);
  }
}

[data-user-color-scheme='dark'] {
  --background: var(--color-dark);
  --text-color: var(--color-light);
}

.searching_section {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.search_box_wrapper {
  margin: 1rem 3rem;
  display: flex;
  justify-content: center;
}

.search_box {
  font-size: 2rem;
  width: 60%;
}

.btn_random {
  font-size: 3rem;
}

.result_section {
  margin: 1rem;
}
.result_wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.cat_card {
  display: flex;
  flex-direction: column;

  width: 90%;
}
.card_image {
  width: 95%;
  height: 16rem;
}
.empty_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.empty_msg {
  font-size: 2rem;
  margin-top: 100px;
}

.img_emptybox {
  margin-top: 20px;
  width: 16rem;
  height: 16rem;
}

.spinner_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255, 0.7);
}

.img_spinner {
  height: 20rem;
  width: 20rem;
  border-radius: 49%;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;

  position: relative;

  width: 30%;
  height: 70%;
  background-color: var(--background);
  color: var(--text-color);
}

.modal_header {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  height: 1.5rem;
}
.modal_title {
  font-size: 1.5rem;
}

.modal_close {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
}
.modal_close:hover {
  cursor: pointer;
}

.modal_image {
  height: 70%;
}

.modal_summary {
  padding-left: 6px;
}

.hidden {
  visibility: hidden;
}

.btn_darkmode {
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
}

.btn_darkmode:hover {
  cursor: pointer;
  transition: 0.5s;
}
